# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Flask
instance/
.webassets-cache

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Redis
*.rdb

# IDEs
.vscode/
.idea/

# Data
data/

# OS
.DS_Store
Thumbs.db
